/*
COLORS
#808b97
#78b7bb
#fff1c1
#fbfbfb*/

body{
  background-color: #78b7bb;
  text-align: center;
}

h1{

  color: #fbfbfb;
  font-size: 3rem;
  font-family: 'Fauna One', serif;
}

h3{
  color: #fbfbfb;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

button{
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0  #808b97;
  background-color: #fff1c1;
  color: #808b97;
  font-size: 1.5rem;
  margin: 3% auto 5% auto;
  font-family: 'Fauna One', serif;
}

button:hover {
  background-color: #808b97;
  color: #fbfbfb;
  cursor: pointer;
}

button:focus{outline:0}

div.image{
  content: url("imgs/bitcoin.png");
  margin: 8% auto 3% auto;
  width: 8%;
}

input{
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

select{
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown{
  margin: 4% auto 0 auto;

}

.dropdown, select, option{
  padding: 10px;
  border-radius: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
